{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "browsers": ["last 2 Chrome versions"]
        }
      }
    ],
    [
      "@babel/preset-typescript",
      {
        "isTSX": true,
        "allExtensions": true
      }
    ]
  ],
  "plugins": ["@babel/proposal-class-properties"],
  "sourceMaps": "both"
}
